# needed to relocate kernel base physical address to 0x01008000
CONFIG_ARCH_MULTIPLATFORM=n
CONFIG_AUTO_ZRELADDR=n
CONFIG_ARM_PATCH_PHYS_VIRT=n
CONFIG_PHYS_OFFSET=0x01000000

# usb stuff
CONFIG_DUMMY_CONSOLE=y
CONFIG_USB_G_SERIAL=y

# display stuff
CONFIG_VT=y
CONFIG_FB=y
CONFIG_FB_SIMPLE=y
CONFIG_VT_CONSOLE=y
CONFIG_CMA=y
CONFIG_DMA_CMA=y
CONFIG_DRM=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM_LOGICVC=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y